<!DOCTYPE html>
<html>
<head>
 <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0;
      display: block;
    }
  </style>
</head>
<body>

  <div class="container">
    <span>Oi, {{name}}.</span>
    <br>

    <span>Você solicitou a alteração de senha.</span>
    <span>Para realizar a troca, clique no link
      <a href={{link}}>{{link}}</a>
    </span>

    <span>Ignore este e-mail caso não seja você que solicitou a recuperação de senha.</span>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>Acar</strong></h3>
  </div>
  
</body>
</html>



